a{
  text-decoration: none;
  font-size: 18px;
}

.nav1 li{
  display: inline;
  padding: 10px;
}

.google p{
  text-align: center;
  font-size: 80px;
  margin-top: 150px;

}

.form{
  text-align: center;
  color: grey;
}

#form-search{
  width: 650px;
  text-align: center;
  color: black;
  height: 27px;
}

#button{
  text-align: center;
  padding-left: 10px;
  margin-top: 25px;
}
